.left-sidebar
  %h1.title#current-channel{"data-id" => @channel.id}
    = @channel.name
  %ul
  - @channel_users.each do |channel_user|
    %li
      - if channel_user.user.email == current_user.email
        %div#current-user{"data-username" => current_user.username, "data-email" => current_user.email, "data-id" => current_user.id}
      = channel_user.user.username
.right-area
  .chat-header
    %h2
      Chat Header!
  #area-chat
    - @channel.messages.each do |message|
      .chat-row
        .messages{"data-id" => message.id}
          %img{src: message.user.avatar_url}
          %b
            = "#{message.user.username} "
          .message
            = message.content
  .text-input
    %input.form-control#text-chat{type:"text"}
